{% load static %}
<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <title>{% block title %}New Little Modern School, Kota – Higher, Stronger, Brighter{% endblock %}</title>
    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='//www.googletagmanager.com' />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" href="{% static 'images/logo-32x32.png' %}" sizes="32x32" />
    <link rel="apple-touch-icon" href="{% static 'images/logo-180x180.png' %}" />
    <meta name="msapplication-TileImage" content="{% static 'images/logo-270x270.png' %}" />
</head>
<body class="home page-template-default page page-id-36 wp-custom-logo elementor-default elementor-kit-6 elementor-page elementor-page-36 elementor-page-48">

<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

<div data-elementor-type="header" data-elementor-id="11" class="elementor elementor-11 elementor-location-header">
    <div class="elementor-element elementor-element-4697225 elementor-hidden-mobile e-flex e-con-boxed e-con e-parent">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-a364264 e-con-full e-flex e-con e-child">
                <div class="elementor-element elementor-element-e288099 elementor-widget elementor-widget-theme-site-logo">
                    <div class="elementor-widget-container">
                        <a href="{% url 'home' %}">
                            <img width="192" height="82" src="{% static 'images/logo.png' %}" alt="School Logo" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-61a0430 e-con-full e-flex e-con e-child">
                <div class="elementor-element elementor-element-e8897fc elementor-nav-menu--stretch elementor-widget elementor-widget-nav-menu">
                    <div class="elementor-widget-container">
                        <nav aria-label="Menu" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
                            <ul id="menu-1-a9f798c" class="elementor-nav-menu">
                                <!-- Home Menu -->
                                <li class="menu-item menu-item-home current-menu-item page_item current_page_item menu-item-has-children">
                                    <a href="{% url 'home' %}" class="elementor-item elementor-item-active">Home</a>
                                    <ul class="sub-menu elementor-nav-menu--dropdown">
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Chairman Message</a></li>
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Pro Vice Chairman Message</a></li>
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Principal’s Desk</a></li>
                                    </ul>
                                </li>
                        
                                <!-- School Menu -->
                                <li class="menu-item menu-item-has-children">
                                    <a href="#" title="Our Campus" class="elementor-item elementor-item-anchor">School</a>
                                    <ul class="sub-menu elementor-nav-menu--dropdown">
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Facilities</a></li>
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Activities</a></li>
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Photo Gallery</a></li>
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Transport</a></li>
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Faculty</a></li>
                                        <li class="menu-item"><a href="/wp-content/uploads/2024/08/cbse-saras1.pdf" class="elementor-sub-item">Mandatory Disclosure</a></li>
                                    </ul>
                                </li>
                        
                                <!-- Admission Menu -->
                                <li class="menu-item menu-item-has-children">
                                    <a href="#" title="Bright Future" class="elementor-item elementor-item-anchor">Admission</a>
                                    <ul class="sub-menu elementor-nav-menu--dropdown">
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Registration</a></li>
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Admissions</a></li>
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Parent’s FAQ</a></li>
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Fee Structure</a></li>
                                    </ul>
                                </li>
                        
                                <!-- Academics Menu -->
                                <li class="menu-item menu-item-has-children">
                                    <a href="#" title="About Studies" class="elementor-item elementor-item-anchor">Academics</a>
                                    <ul class="sub-menu elementor-nav-menu--dropdown">
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Ambience</a></li>
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Smart Class</a></li>
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">School Calendar</a></li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#" class="elementor-sub-item elementor-item-anchor">Library</a>
                                            <ul class="sub-menu elementor-nav-menu--dropdown">
                                                <li class="menu-item"><a href="#" class="elementor-sub-item">E-Resources</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                        
                                <!-- Downloads Menu -->
                                <li class="menu-item">
                                    <a href="#" class="elementor-item">Downloads</a>
                                </li>
                        
                                <!-- Contact Us Menu -->
                                <li class="menu-item menu-item-has-children">
                                    <a href="#" title="Where we are" class="elementor-item elementor-item-anchor">Contact us</a>
                                    <ul class="sub-menu elementor-nav-menu--dropdown">
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Contact Us</a></li>
                                        <li class="menu-item"><a href="#" class="elementor-sub-item">Enquiry</a></li>
                                        <li class="menu-item"><a href="3" class="elementor-sub-item">Road Map</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="elementor-element elementor-element-993da61 e-flex e-con-boxed e-con e-parent">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-db35f67 e-grid e-con-full e-con e-child">
            <div class="elementor-element elementor-element-634acfa elementor-widget elementor-widget-image">
                <div class="elementor-widget-container">
                    <img width="618" height="61" src="{% static 'images/homepage.png' %}" alt="Homepage Banner" />
                </div>
            </div>
            <div class="elementor-element elementor-element-eb88496 elementor-widget elementor-widget-text-editor">
                <div class="elementor-widget-container">
                    <p><strong><em><span style="color: #ff0000;">Higher,</span> <span style="color: #008000;">Stronger,</span> <span style="color: #000080;">Brighter</span></em></strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add more sections as needed -->

<footer>
    <div class="footer-content">
        <p>&copy; {{ current_year }} G. D. Goenka Public School. All rights reserved.</p>
        <p>Contact us: <a href="mailto:info@gdgoenkaagra.com">info@gdgoenkaagra.com</a></p>
    </div>
</footer>

<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>